@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom scrollbar */
.overflow-y-auto {
  overflow: hidden;
  position: relative;
}

/* Show scrollbar on hover */
.overflow-y-auto:hover {
  overflow: auto;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 6px;
  /* Adjust this value to make the scrollbar narrower */
}

/* Track */
.overflow-y-auto::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.overflow-y-auto::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
.overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom scrollbar for horizontal scrolling */

.overflow-x-auto::-webkit-scrollbar {
  height: 2px;
  /* Adjust this value to make the horizontal scrollbar narrower */
}

/* Track for horizontal scrollbar */
.overflow-x-auto::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle for horizontal scrollbar */
.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover for horizontal scrollbar */
.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background: #555;
}




/* custom  calendar*/
.rbc-toolbar button.rbc-active {
  color: #fff !important;
  background-color: #059669 !important;
  border-color: #059669 !important;
}

/* Hover and focus styles for active button */
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus {
  color: #fff !important;
  background-color: #059669 !important;
  border-color: #059669 !important;
}

/* Default styles for active button */
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  color: #fff !important;
  background-color: #059669 !important;
  border-color: #059669 !important;
}

.rbc-event {
  background-color: #059669 !important;
  color: #fff !important;
}



